name: Generate TOC
on:
  workflow_dispatch:
  push:
#    branches:
#      - master
#    paths:
#    - '**.md' # runs only if a markdown file is pushed


jobs:
  generateTOC:
    runs-on: ubuntu-latest
    steps:
    - uses: technote-space/toc-generator@v4
      with:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
