name: Publish Documentation
on:
  workflow_dispatch:
  #release:
  #  types: [published]
  push:
    branches:
      - master
    paths:
    - '**.md' # runs only if a markdown file is pushed

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
          fetch-depth: 0       # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
          architecture: 'x64'

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip     # install pip
          python3 -m pip install mkdocs            # install mkdocs
          python3 -m pip install mkdocs-material   # install material theme
          python3 -m pip install mkdocs-git-revision-date-plugin
          python3 -m pip install mkdocs-exclude-search

      - name: Build site
        run: |
          mkdocs build
          ls

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc_site